@import '~antd/dist/antd.css';

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #207a54;
  color: #fafdfc;
}

.Game-info-ok-div {
  display: flex;
}

.Game-info-ok {
  margin-left: auto;
  margin-right: auto;
}

.Game-setting-number {
  display: flex;
}

.Game-setting-number-text {
  margin: 0 10px 0 auto;
}

.Game-setting-number-input {
  margin-right: auto;
}

.Game-setting-table {
  width:100%;
  margin-bottom: 20px;
  text-align: center;
}

.Game-setting-table-button {
  margin: 0 5px;
}

.Game-setting-table-tr {
  height: 2.5em;
}

.rule {
  position: absolute;
  left: 20px;
  top: 20px
}

.Player-part {
  width: 66%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.Player-round {
  margin: auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Winner {
  font-size: 24px;
  height: 2.5em;
}

.Dealer-Win {
  font-size: 24px;
  height: 2em;
}

.Player-Info {
  margin: auto auto 30px;
  text-align: center;
  font-size: 40px;
}

.All-Card {
  margin: 30px 0;
}

.Each-Card {
  display:inline;
  margin: 0 10px;
}

.Choice-Part {
  margin: 30px auto auto;
  background-color: #3a8c69;
  padding: 20px 40px;
  border-radius: 20px;
  height: 160px;
}

.Hint-Message {
  font-size: 30px;
  margin-bottom: 20px;
  height: 2em;
}

.Choice-Buttons {
  margin: 20px auto 0;
}

.Each-Button {
  display: inline;
  margin: 0 20px;
}

.Information-part {
  flex-grow: 1;
  overflow: scroll;
}

.Information-part::-webkit-scrollbar {
  display: none;
}

.Each-Opponent {
  padding: 10px 5px 5px;
}

.Total-Card {
  margin: 5px 0;
}

.Every-Card {
  display: inline;
  margin: 0 5px;
}

.Hint-Card {
  margin: 10px;
  background-color: #207a54;
  color: #fafdfc;
}

.ant-card-head {
  color: #fafdfc;
}

.Vertical-divider {
  height: calc(100% - 20px);
  margin: 10px 5px;
  width: 1px;
  flex-shrink: 0;
  background-color: #fafdfc;
}

.ant-btn-primary {
  background-color: #d57327;
  border-color: #d57327;
}

.ant-btn-primary:focus {
  background-color: #d57327;
  border-color: #d57327;
}

.ant-btn-primary:hover {
  background-color: #e27a2a;
  border-color: #e27a2a;
}