@import '~antd/dist/antd.css';

.Setting-panel-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Setting-panel-title {
  font-size: 36px;
  margin: 20px;
  margin-top: auto;
  text-align: center;
}

.Setting-panel-stick {
  margin: 20px;
  font-size: 20px;
}

.Setting-panel-stick-text {
  margin-right: 10px;
}

.Setting-panel-ant-number {
  margin: 20px auto 40px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.Setting-panel-ant-number-text {
  flex-grow: 1;
  margin-right: 10px;
}

.Setting-panel-ant-number-button {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.Setting-panel-ant {
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.Setting-panel-ant-text {
  margin-right: 20px;
}

.Setting-panel-button-set {
  display: flex;
  flex-direction: column;
  margin: 20px auto auto;
}

.Setting-panel-button {
  margin: 5px 0;
  height: 45px;
  width: 230px;
  font-size: 20px;
}
