@import '~antd/dist/antd.css';

.Display-panel-container {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Display-panel-title {
  /* font-size: 48px; */
  font-size: 6vh;
  height: 2em;
  margin-top: auto;
  margin-bottom: 1em;
}

.animation {
  margin: 0 auto 30px;
  width: 350px;
}

.Ant-container {
  height: 16px;
  position: relative;
}

.Display-panel-ant {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #29B6F6;
}

.Display-panel-stick {
  height: 16px;
  border-radius: 1vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.Display-panel-start {
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  height: auto;
}

.Display-panel-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 36px;
  /* font-size: 20px; */
  font-size: 2.5vh;
}

.Display-panel-button-setting {
  display: flex;
  flex-direction: column;
}

.Display-panel-button {
  margin: 12px 20px;
  height: 48px;
  font-size: 22px;
}

.Display-panel-bottom {
  height: 1px;
  width: 100%;
  margin-bottom: auto;
}
